# 1) ignore any DeprecationWarning matching 'pkgutil.find_loader'
# 2) ignore any UserWarning from module docxcompose.properties
export PYTHONWARNINGS="\
ignore:'pkgutil.find_loader':DeprecationWarning::,\
ignore::UserWarning:docxcompose.properties\
"
export VIRTUAL_ENV=.venv
layout python
